<div{{ attributes }}>
{% if meeting %}
  <ul>
    <li>Status: {{ meeting.status }}</li>
    <li>Status: {{ meeting.start_time.getTimestamp() | format_date('medium') }}</li>
    <li><a href="{{ meeting.join_url }}">Join</a>
  </ul>
{% else %}
  Invalid meeting ID
{% endif %}
</div>
